<div class="widget">
    <p>@Html.ActionLink("Мои заявки", "Index", "Home", null, new { @style = "text-transform: ; font-weight: bold; color: #660066;" })</p>
    <p>@Html.ActionLink("Заявки на торги", "Index", "Buyer", null, new { @style = "text-transform: ; font-weight: bold; color: #660066;" })</p>
    <p>@Html.ActionLink("Сообщения", "List", "Buyer", null, new { @style = "text-transform: ; font-weight: bold; color: #660066;" })</p>
    <p>@Html.ActionLink("Активные торги", "Index", "Seller", null, new { @style = "text-transform: ; font-weight: bold; color: #660066;" })</p>
    <p>@Html.ActionLink("Регистрация", "Registration", "Account", null, new { @style = "text-transform: ; font-weight: bold; color: #660066;" })</p>
    <p>@Html.ActionLink("Моя визитка", "Card", "Seller", new { id = 0 }, new { @style = "text-transform: ; font-weight: bold; color: #660066" })</p>
</div>