@model IEnumerable<YaProdayu2.Models.Entities.Tender>

@{
    ViewBag.Title = "Мои тендеры";
}

<h2>Список моих торгов</h2>

<table class="table table-striped">
    <tr>
        <th>
            Название торгов
        </th>

        <th style="text-align: center">
            Тема/категория
        </th>

        <th style="text-align: center">
            Регион/Город
        </th>

        <th style="text-align: center">
            Бюджет
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td width="100">
                @item.Title
            </td>
            <td width="100" style="text-align: center">
                @item.Theme
                <br />
                @item.SubTheme
            </td>
            <td width="100" style="text-align: center">
                @item.City
            </td>
            <td width="70" style="text-align: center">
                @item.Cost руб.
            </td>

            <td width="90">
                @Html.ActionLink("Подробно", "Details", "Seller", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
