@model IEnumerable<YaProdayu2.Controllers.PayInfoModel>

@{
    ViewBag.Title = "sjrfhgsiueh";
}

<h2>sjrfhgsiueh</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayEnd)
        </td>
    </tr>
}

</table>
