<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/static")
</head>
<body>
    
    @RenderBody()
        
    @Scripts.Render("~/Content/jslibs")
    @RenderSection("scripts", required: false)
</body>
</html>
