@if (ViewBag.HideMainMenu == null)
{
    <div class="widget">
        <ul class="categories">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Покупатели", "Index", "Buyer")</li>
            <li>@Html.ActionLink("Продавцы", "Index", "Seller")</li>
            <li>@Html.ActionLink("О нас", "About", "Home")</li>
            <li>@Html.ActionLink("Регистрация", "Registration", "Account")</li>
        </ul>
    </div>
}