@model YaProdayu2.Models.Views.SellerTenderDetailsView
@{
    ViewBag.Title = "Тенедер";
}
<div class="row" style="border: 1px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: center;">
        <h4>З а я в к а</h4>
    </div>
</div>
<div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid; border-top: 0px; ">
    <div class="col-md-12">
        <div class="row" style="font-size: 16px; padding-top: 0px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Тема: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.Theme
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Категория: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.SubTheme
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Регион/Город: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.City
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Заголовок: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.Title
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px; padding-bottom: 20px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Сообщение: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.Message
                </p>
            </div>
        </div>
    </div>
</div>
@if (Model.Message == null)
{
    using (Html.BeginForm())
    {
        <hr />
        <input hidden="hidden" name="UserId" value="1" />
        <input hidden="hidden" name="TenderId" value="@Model.TenderInfo.Id" />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="SubTheme2" class="control-label col-md-2">Сообщение</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="7" name="Message" placeholder="Максимально подробно опишите детали и условия вашего предложения"></textarea>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label for="Cost" class="control-label col-md-2">Сумма</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="Cost" placeholder="Средняя цена" />
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit">Добавить</button>
            </div>
        </div>
    }
}
else
{
    <div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid; border-top: 0px;">
        <div class="col-md-12">
            <p>
                <h4>Моё предолжение:</h4>
            </p>
        </div>
    </div>
    <div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid; border-top: 0px">
        <div class="col-md-3">
            <div style="width: 100%; text-align: center;">
                <p><div style="color: blue; width:100%; text-align: center; font-size: 16px;"><strong>@Html.ActionLink(Model.User.Name, "Card", "Account", new { id = Model.User.Id }, null)</strong></div></p>
                <p><img src='@Url.Content("~/Content/images/fish/1.jpg")' style="width: 150px; height: 150px;" /></p>
            </div>
        </div>
        <div class="col-md-6">
            <div style="padding-top: 35px;">
                @Model.Message.Message
            </div>
        </div>
        <div class="col-md-3">
            <div style="text-align: center; padding-top: 35px; font-size: 18px;">
                <p style="color: #04B45F;">
                    <strong>500 </strong><strong style="color: black">&#8381;</strong>
                </p>
                <p>
                    <a><img src='@Url.Content("~/Content/images/молоток статичное.png")' width="100" height="100" /></a>
                </p>
            </div>
        </div>
    </div>
}