@model YaProdayu2.Models.Views.SellerTenderDetailsView
@{
    ViewBag.Title = "Тенедер";
    ViewBag.Scripts = "NewTender()";
}
<div class="row" style="border: 1px; border-bottom: 0px; border-color: #D8D8D8; border-style: solid;">
    <div class="col-md-12" style="text-align: center;">
        <h4>З а я в к а</h4>
    </div>
</div>
<div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid; border-top: 0px; ">
    <div class="col-md-12">
        <div class="row" style="font-size: 16px; padding-top: 0px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Тема: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                     @Model.TenderInfo.Theme
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Категория: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.SubTheme
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Регион/Город: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.City
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Заголовок: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Model.TenderInfo.Title
                </p>
            </div>
        </div>
        <div class="row" style="font-size: 16px; padding-bottom: 10px;">
            <div class="col-md-3" style="text-align: right;">
                <p>
                    <strong>Сообщение: </strong>
                </p>
            </div>
            <div class="col-md-9">
                <p>
                    @Html.Raw(Model.TenderInfo.Message)
                </p>
            </div>
        </div>

        @if (Model.TenderInfo.Photos != null && Model.TenderInfo.Photos.Length > 0)
        {
            <div class="row" style="padding-bottom: 10px;">
                @foreach (var item in Model.TenderInfo.Photos)
                {
                    <div class="col-md-3">
                        <a href="~/Image/Get?id=@item" data-lightbox="@item">
                            <img src="~/Image/Get?id=@item" width="100" height="100">
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>

@if (Model.Messages != null)
{
    <div style="padding-top: 15px;"></div>
    <div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid;">
        <div class="col-md-12">
            <p>
                <h4>Предложения:</h4>
            </p>
        </div>
    </div>
    
    foreach (var message in Model.Messages)
    {
        <div class="row" style="border: 1px; border-color: #D8D8D8; border-style: solid; border-top: 0px">
            <div class="col-md-3">
                <div style="width: 100%; text-align: center;">
                    <p><img src='/Image/Get?id=@message.User.ImageId' style="width: 150px; height: 150px;  padding-top: 5px;" /></p>
                    <p><div style="color: blue; width:100%; text-align: center; font-size: 16px;"><strong>@Html.ActionLink(message.User.Name, "Card", "Account", new { user = message.User.Login }, null)</strong></div></p>
                </div>
            </div>
            <div class="col-md-9">
                <div style="padding-top: 35px;">
                    @Html.Raw(message.Messages.Message)
                </div>
            </div>
        </div>
    }
}
<div style="padding-top: 15px;"></div>
@if (Model.HaveMyMessages == false)
{
    <div class="row">
        @using (Html.BeginForm())
        {
            <input hidden="hidden" name="UserLogin" value="@ViewBag.UserLogin" />
            <input hidden="hidden" name="TenderId" value="@Model.TenderInfo.Id" />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <textarea class="form-control" rows="10" name="Message" placeholder="Максимально подробно опишите детали и условия вашего предложения"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="" style="text-align: center;">
                    <button type="submit" class="btn btn-two">Добавить</button>
                </div>
            </div>
        }
    </div>
}