@model KupiProdam.Entities.Entites.Tender

@{
    ViewBag.Title = "Details";
}

<h2>Тенедер</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTheme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTheme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messaget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messaget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statuse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statuse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTime)
        </dd>

    </dl>
</div>
<p>
    <center>@Html.ActionLink("Назад к списку", "PublicTender")</center> 
</p>
<hr />
<p><h4>Откликнувшиеся:</h4></p>
<table style="width: 100%" cellpadding="10" cellspacing="10">
    <tr>
        <td width="150" >
            <p>От <strong>Васи</strong>:</p>
            <p><img src='@Url.Content("~/Content/images/fish/1.png")' style="width: 100px; height: 100px;" /></p>
        </td>
        <td style="vertical-align: top">
            Я это сделаю за 500 рэксов за неделю
        </td>
        <td width="100">
            @Html.ActionLink("Выбрать его", "Index", "", new { @class= "btn btn-default" })
        </td>
    </tr>
    <tr>
        <td width="100">
            <p>От <strong>Васи</strong>:</p>
            <p><img src='@Url.Content("~/Content/images/fish/1.png")' style="width: 100px; height: 100px;" /></p>
        </td>
        <td style="vertical-align: top">
            Да не, это дешевле типа и быстрее
        </td>
        <td width="500">
            @Html.ActionLink("Выбрать его", "Index", "", new { @class = "btn btn-default" })
        </td>
    </tr>
</table>
